/*СТИЛИ*/
html {
   background-color: 	#faf0e6;
}

h1 {
     font-size: 60px;
     text-align: center;
}
img {
     display: block;
     margin: 0 auto;

}
table {
        margin: 0 auto;
}